<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>CoinKeeper</title>
</head>

<body id="body">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <h1>CoinKeeper</h1>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="col-2">
                    <form action="/logout" method="post">
                        <button type="submit" id="logout">LogOut</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button"
                                    id="addCategory">
                                Добавить категорию
                            </button>
                        </div><input class="form-control"
                                     type="text" placeholder="" aria-label="Example text with button addon"
                                     aria-describedby="button-addon1" id="categoryName">
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="HistoryDiv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">History Operation </h5><button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div>
                        <div class="modal-body" id="historyOperationDivContent">
                            <div v-for='sum in sums' class="container">
                                <div class="row historyOperationItem">
                                    <!-- <span v-bind:editRow_spanDate="sum.SumId" class="col-4">
                                    {{sum.createDate}}
                                </span> -->
                                    <input v-bind:editRow_inputDate="sum.SumId" class="col-4" type="text" v-bind:value="sum.createDate" disabled='true'>
                                    <!-- <span v-bind:editRow_spanValue="sum.SumId" class="col-4 sum_history">
                                    {{sum.Value}}
                                </span> -->
                                    <input v-bind:editRow_inputValue="sum.SumId" class="col-4" type="text" v-bind:value="sum.Value" disabled="true">
                                    <button v-bind:button_rowSave="sum.SumId" style="display: none;" type="button" class="col-2 hidden btn btn-outline-success">
                                        Save
                                    </button>
                                    <button v-bind:button_rowEdit="sum.SumId" type="button" class="col-2 btn btn-outline-primary">
                                        Edit
                                    </button>
                                    <button v-bind:button_deleteSum="sum.SumId" type="button" class="col-2 btn btn-outline-danger">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="CategoriesDivContent">
                        <div class="input-group mb-3" v-bind:id="category.CategoryId" v-for='category in categories'>
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{category.Name}}</span>
                            </div>
                            <input v-bind:inputCategory="category.CategoryId"
                                   v-bind:id='category.input + category.CategoryId' type="text" class="form-control"
                                   aria-label="Amount (to the nearest dollar)" v-bind:placeholder="category.Value">
                            <div class="input-group-append">
                                <span class="input-group-text">.00 руб.</span>
                            </div>
                            <button style="font-size: 10px;" v-bind:button_addSum="category.CategoryId" type="button"
                                    class="btn btn-success">
                                +
                            </button>
                            <div class="dropdown dropright" sytle="margin-left:15px;">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Дополнительно
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                     x-placement="right-start"
                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(102px, 0px, 0px);">
                                    <button v-bind:button_delete="category.CategoryId" type="button"
                                            class="btn red dropdown-item btn-danger">
                                        удалить категрию
                                    </button>
                                    <button id="zzz" type="button" class="btn dropdown-item grey btn-secondary"
                                            data-toggle="modal" data-target="#HistoryDiv"
                                            v-bind:button_getSumHistory="category.CategoryId">
                                        история
                                        операций
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
            <a class="link" href="statistics.html">Статистика</a>
        </div>
        <script src="main.js"></script>
    </div>
</body>

</html>
